[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
"discord.py" = "*"
python-dotenv = "*"
aiocron = "*"
validators = "*"
cron-descriptor = "*"
croniter = "*"
spotipy = {git = "https://github.com/plamere/spotipy.git"}
cryptography = "*"
psycopg2 = "*"
peewee = "*"

[requires]
python_version = "3.8"
